@import "reset.css";

a{
  text-decoration: none;
  color:#2d2d2d;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

.container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

/*===============헤더 메뉴=================*/

.header{
  position: relative;
  border-bottom: 1px solid #888;
  
}

.gnb {
  height: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  
}

.gnb ul li {
  color: #2d2d2d;
  background-color: white;
  float: left;
  line-height: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
}

.gnb ul li > a > img{
  width: 200px;
  height: 20px;
  margin-top: 15px;
  object-fit: contain;
}

.gnb .menuLink {
  text-decoration:none;
  color: #2d2d2d;
  display: block;
  width: 100px;
  font-size: 14px;
}
.gnb .menuLink:hover {
  color: #44AFD6;
  border-bottom: 2px solid #44AFD6;
}

/*===============헤더 메뉴 끝=================*/



/*===============컨텐츠 메뉴=================*/

.content{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 20px;

}

.content_left{
  width: 30%;
  float: left;
}

.content_right{
  width: 68%;
  float: right;
}

.content_left > *{
  position: relative;
}


/*-------------로그인 관련----------------*/
.account{
  width: 100%;
  border: 1px solid #888;
  height: 100px;
  margin-bottom: 20px;

}

.login_btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px 0;
  width: 90%;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #44AFD6;
}

.login_btn:hover{cursor: pointer;}

.sub_area{
  font-size: 12px;
}
.sub_area > a:link{
  color: #2d2d2d;
}


/*-------------로그인 관련 끝----------------*/

/*---------------카테고리 관련--------------*/

#study_title{
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: #252525;
}

.study{
  border: 1px solid black;
  margin-bottom: 50px;
  color: #2d2d2d;
}

.category{
  text-align: left;
  padding: 20px;
}

.sub_category_item{
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}



/*---------------카테고리 관련 끝--------------*/

/*------------------오른쪽-----------------*/

.addiv{
  border: 1px, solid black;
  background-color: #252525;
  color:white;
  line-height: 150px;
  height: 150px;
  margin-bottom: 25px;
}

/*===============컨텐츠 메뉴 끝=================*/


/*===============푸터 메뉴=================*/

.footer{
  width:100%;
   height:100px;
   position:absolute;
   bottom:0;
   background:#5eaeff;
  text-align: center;
  color: white;
}


/*===============푸터 메뉴 끝=================*/