@import "reset.css";

.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}


.content_header{
    text-align: left;
    
}

#title{
	margin-top:100px;
	font-size: 1.5em;
	
	
}

.eye{
	width: 14px;
	line-height: 14px;
}

#date{
	color: #bbb;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}

#date, #title{
    width: 90%;
    height: 30px;
    line-height: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    margin-top: 10px;
    width: 90%;
    text-align: left;
}



.reply_wrap{
    width: 90%;
    text-align: left;
    line-height: 1;
    margin : 20px 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
   	
}

.alert{
    text-align: center;
}

.login_link{
    color: #44AFD6;
}
.login_link:visited{
    color: #44AFD6;
}

.reply_wrap > tbody > tr > td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    
}

.content_reply tr:nth-child(odd){
    background-color: #888;
}

.comment{
	border: none;
	resize:none;
	float:left;
	width:88%;
	outline: none;
}


.index{
    background-color: #44AFD6;
    color: white;
    float: right;
    height: 40px;
    font-size: 16px;
    border: 1px solid black;
    width: 120px;
}

.index:focus{
	cursor: pointer;
}

.commentSubmit{
	background-color: #eee;
    color: black;
    float: right;
    height: 40px;
    font-size: 16px;
    border: 1px solid #eee;
    width: 120px;
}

.button_wrap{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.button_wrap > a{
	font-size: 20px;
	line-height: 40px;
}


#userID{
    width: 10%;
}

#comment{
    width: 70%;
}


#writeDay{
	width: 20%;
}
